#block-library .left-col,
#block-library .right-col {
  float:left;
  width:66%;
  height:100%;
  background-color:#ffffff;
}

#block-library .right-col {
  width:34%;
  background-color:#f7f7f7;
}

#block-library .right-col h3 {
  margin: 1em -20px;
  background-color:#d7d7d7;
  color:#333333;
  padding:8px 15px;
  font-size:1.1em;
}

#block-library .inside {
  margin:0 20px;
}

#block-library .bottom-bar {
  width:100%;
  clear:both;
}